body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header{
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a{
    color: white;
    margin: 15px;
    text-decoration: none;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.producto{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 0px 10px gray;
}

.producto img{
    width: 100%;
    border-radius: 10px;
}

.precio{
    font-size: 24px;
    color: green;
}

.descripcion{
    text-align: justify;
    font-size: 14px;
    color: #444;
    margin-top: 15px;
    line-height: 1.6;
}


button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.producto button,
#formularioCompra button{
    width: 100%;
}
button:hover{
    background-color: #0056b3;
}

#formularioCompra{
    background-color: white;
    padding: 20px;
    margin-top: 30px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

input{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.oculto{
    display: none;
}

#mensaje{
    background-color: white;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    text-align: center;
}
.inicio{
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
    padding: 80px 20px;
    text-align: center;
}

.inicio-contenido{
    max-width: 800px;
    margin: auto;
}

.inicio h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.inicio p{
    font-size: 18px;
    margin-bottom: 30px;
}

.imagen-inicio{
    width: 300px;
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0px 0px 20px black;
}

.imagen-inicio:hover{
    transform: scale(1.05);
}
.modo-btn{
    width: auto;
    padding: 10px 20px;
    margin-top: 15px;
}
.oscuro{
    background-color: #121212;
    color: white;
}

.oscuro .producto,
.oscuro #formularioCompra,
.oscuro #mensaje{
    background-color: #1e1e1e;
    color: white;
}

.oscuro input{
    background-color: #333;
    color: white;
    border: 1px solid #555;
}
.contacto{
    text-align: center;
    padding: 50px 20px;
    color: white;
}

.robot{
    width: 220px;
    margin-bottom: 20px;
    filter: drop-shadow(0px 0px 15px cyan);
}

.contacto h2{
    font-size: 35px;
    margin-bottom: 20px;
}

.contacto p{
    font-size: 20px;
    margin-top: 15px;
}
.titulo-catalogo{
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.catalogo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 30px;
}

.producto{
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.producto:hover{
    transform: translateY(-5px);
}

.producto img{
    width: 100%;
    height: 220px;
    object-fit: contain;
    border-radius: 10px;
}

.best-seller{
    border: 3px solid gold;
    position: relative;
}

.etiqueta{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: gold;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
}
.item-carrito{
    background-color: white;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

#total{
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}